html
{
  background-color: #afbdbd;
}
.table
{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th, td
{
	border: 1px solid black;
	text-align: center;
}
body
{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.bouton
{
  text-align: center;
}
